.container {
    padding-top:15px;
}
.lastfm__avatar {
    height:140px;
    width:140px;
    background-position:0 25%;
    background-repeat:no-repeat;
    background-size:cover;
}
.lastfm-data__list {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    list-style:none;
    padding:0;
}
.lastfm-data__item {
    margin:0 10px 20px;
    position:relative;
}
.lastfm-data__link:hover .lastfm-data__primary,
.lastfm-data__link:focus .lastfm-data__primary {
    /*opacity:0.95;*/
    background:rgba(51, 122, 183, 0.75);
}
.lastfm-data__link:hover .lastfm-data__img,
.lastfm-data__link:focus .lastfm-data__img {
    box-shadow:0 0 15px #000;
}
.lastfm-data__img {
    background:#888;
    border:5px solid #fff;
    box-shadow:0 0 15px transparent;
    transition:box-shadow .3s linear;
}
.lastfm-data__primary,
.artist-placeholder {
    align-items:center;
    background:rgba(51, 122, 183, 0.35);
    color:#fff;
    display:flex;
    height:174px;
    justify-content:center;
    left:0;
    position:absolute;
    text-align:center;
    transition:background .3s linear;
    top:0;
    width:174px;
}
.lastfm-data__primary {
    /*opacity:0.55;*/
    padding:0 20px;
    text-shadow:1px 1px 1px #000;
}
.lastfm-data__secondary {
    border-top:1px solid rgba(255, 255, 255, 0.5);
    display:block;
    font-family:georgia, 'times new roman', serif;
    font-style:italic;
    margin-top:10px;
    padding-top:10px;
}
.year {
    display:block;
}
.lastfm-search__form {
    margin-bottom:40px;
}